#tblWordCount {
  display: inline;
  position: absolute;
}
#contents * {
  margin-left: 150px;
  display: inline;
}
#cnvWcChart {
  height: 600px !important;
  width: 80% !important;
  background-color: beige;
}

#inputText {
  width: 80% !important;
  height: 300px !important;
}
